doctype html
html
  
  head
    meta(http-equiv="refresh", content="14.5")
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800',type='text/css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
    // link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block tab
    
  